[submodule "01-git-azurerepos/repos/01-git-azurerepos"]
	path = 01-git-azurerepos/repos/01-git-azurerepos
	url = https://github.com/wortell-smart-learning/ado-01-git-azurerepos.git
[submodule "02-git-branching/repos/02-git-branching"]
	path = 02-git-branching/repos/02-git-branching
	url = https://github.com/wortell-smart-learning/ado-02-git-branching.git
[submodule "03-azure-pipelines/repos/03-azure-pipelines"]
	path = 03-azure-pipelines/repos/03-azure-pipelines
	url = https://github.com/wortell-smart-learning/ado-03-azure-pipelines.git
[submodule "04-azure-pipelines-deploy/repos/04-azure-pipelines-deploy"]
	path = 04-azure-pipelines-deploy/repos/04-azure-pipelines-deploy
	url = https://github.com/wortell-smart-learning/ado-04-azure-pipelines-deploy.git
[submodule "05-data-project-pipelines/repos/05-data-project-pipelines"]
	path = 05-data-project-pipelines/repos/05-data-project-pipelines
	url = https://github.com/wortell-smart-learning/ado-05-data-project-pipelines.git